<app-header [isHomePage]="true"></app-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <div class="big-text spaced-div" >
    Bienvenid@ {{nombre}}
  </div>
  <div class="spaced-div">
    <ion-list>
      <ion-item>
        <ion-icon name="library-outline" slot="start"></ion-icon>
        <ion-label>Diseño</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="library-outline" slot="start"></ion-icon>
        <ion-label>Arquitectura</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="library-outline" slot="start"></ion-icon>
        <ion-label>Calidad</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>